@page
@model projet.Pages.Matieres.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Matiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matiere.Nom" class="control-label"></label>
                <input asp-for="Matiere.Nom" class="form-control" />
                <span asp-validation-for="Matiere.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matiere.IdProf" class="control-label"></label>
                <select asp-for="Matiere.IdProf" class ="form-control" asp-items="ViewBag.IdProf"></select>
            </div>
            <div class="form-group">
                <label asp-for="Matiere.IdC" class="control-label"></label>
                <select asp-for="Matiere.IdC" class ="form-control" asp-items="ViewBag.IdC"></select>
            </div>
            <div class="form-group">
                <label asp-for="Matiere.IdF" class="control-label"></label>
                <select asp-for="Matiere.IdF" class ="form-control" asp-items="ViewBag.IdF"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
